<div class="row">
  <div class="col-xs-12">
    <img src="{{recipe.imagePath}}" alt="" class="img-fluid">
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h1>{{recipe.name}}</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button type="button" data-bs-toggle="dropdown" aria-expanded="false" class="btn btn-primary dropdown-toggle">
        Options <span class="caret"></span>
      </button>

      <ul class="dropdown-menu">
        <li>
          <a href="#" class="dropdown-item"> Add to Shopping List </a>
          <a href="#" class="dropdown-item"> Edit Recipe </a>
          <a href="#" class="dropdown-item"> Delete Recipe </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <p>{{recipe.description}}</p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h3>Ingredients</h3>
  </div>
</div>
